body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 128px;
  font-style: italic;
  color: darkslategray;
}

button {
  font-size: 24px;
  padding: 24px;
  background-color: darkslategrey;
  color: white;
  margin-bottom: 48px;
  cursor: pointer;
}